APP_ENV=development
HTTP_ADDR=127.0.0.1:8080
FRONTEND_ORIGIN=http://127.0.0.1:4173
POSTGRES_DB=websocket_chat_go
POSTGRES_USER=websocket_chat_go
POSTGRES_PASSWORD=replace_with_a_local_password
POSTGRES_PORT=5433
PGHOST=127.0.0.1
PGPORT=5433
PGDATABASE=websocket_chat_go
PGUSER=websocket_chat_go
PGSSLMODE=disable
